.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background: #ffdd00ef;
    border-radius: 5px;
  }
  
  #result {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
  }
  
  button:nth-child(odd) {
    background: #00ff77b5;
  }
  
  button:nth-child(even) {
    background: #58e655bd;
    color: #471474c2;
  }
  
  button:last-child {
    grid-column: 1/3;
  }
  
  button:nth-child(16) {
    grid-column: 3/5;
  }